body {
	magin:0;
	background-color: rgb(63,152,137);
	color:white;
	font-family:'Monteserrat', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
}
a:link {
  text-decoration:none;
  color: white;
}

a:visited {
  text-decoration:none;
  color: white;
}


a:hover {
  text-decoration:none;
  color: white;
}


a:active {
  text-decoration:none;
  color: white;
}


.container{
	background-color: rgb(25,25,25);
	text-align:center;
	width:1000px;
	padding:50px;
	margin-left:auto;
	margin-right:auto;		
}

.umiejki{
	background-color: rgb(50,50,50);
	text-align:center;
	
	padding:30px;
	margin-left:auto;
	margin-right:auto;	

}
